/* General */

.content, .menu-wrapper {
	 max-width: 1000px;
	 margin: 15px auto;
	 padding: 0 1rem;
}

/* Menu */

.selected {
	box-shadow: 0 2px 0 inset;
}

.header img {
	 max-height: 80px;
}

/* Footer */

.footer > .segment {
	margin-bottom: 15px;
}

/* Alignment */

.right-aligned {
	text-align: right;
}

.centered {
	text-align: center;
}