
 .ui.fluid.card.maps{
	min-height : 550px;
 }
 
.map {
	background-color: #F5FAFF;
	position: relative;   
	width: 90%;
	height: 450px; 
	border: 1px solid #ccc; 
	padding:0px;
	margin : 0px;"
}

.hoverinfor.maphover {
	font-weight : bold;
	font-size: 15px;
	padding:5px 10px;
}

.hoverinfo.popupInfo {
	border: 1px solid red; 
	background-color: #fff;
	font-weight : bold;
	padding:5px 10px;
}
.legend.Ongoing {
	background-color: #FF9494;
}
.legend.Pending {
	background-color: #fff8db;
}
.legend.Mixed {
	background-color: #FC8D59;
}