/* Recalls */

.hidden-cards > .card {
	display: none;
}

.card-table-wrapper {
	max-height: 25em;
	overflow-y: auto;
	margin-bottom: 1em;
	border: 1px solid rgba(34,36,38,.15);
}

.card-table {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	border: none;
}

.card-table tr {
	cursor: pointer;
}

.card-table tr td:nth-child(1) {
	width: 3em;
}

.card-table tr td:nth-child(2) {
	width: 10em;
}

.overflow {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}