dataSource.dbCreate = "{{checkfda_db_create}}" // one of 'create', 'create-drop', 'update', 'validate', ''
dataSource.username = '{{checkfda_mysql_username}}'
dataSource.password = '{{checkfda_mysql_password}}'
dataSource.url = 'jdbc:mysql://localhost:3306/{{checkfda_mysql_db}}?useUnicode=true&autoReconnect=true'
openfdaapi.token = {{openfda_api_token}}
checkfda.admin.default_username = '{{checkfda_admin_default_username}}'
checkfda.admin.default_password = '{{checkfda_admin_default_password}}'